[2013-10-25 08:55] mikekloster opened #1 "Keyboard Management"
This is very cool software! Thanks for making it open source.

I have been evaluating it for only an hour. Is there keyboard management to avoid text fields on the bottom of the view controller from being covered by the keyboard?

Along the same lines, re-centering the view if a selected field is covered by the keyboard would also be a great enhancement.

I'll try to dig in further to see if these

[2014-01-08 13:27] andreacremaschi opened #2 "Mark output file as readonly"
Is there a way to mark the output file as readonly?
Anyway this is great, thanks!

[2014-01-15 10:21] #2 closed, assigned to nobody

[2014-01-20 21:48] derekblair opened #3 "Printing file with non-uniform page sizes results in forms offset incorrectly"

[2014-03-05 09:41] prijupaul opened #4 "Saved pdf is corrupt"
After editing and saving a form pdf, it doesnt open in acrobat reader. However, it opens in the browser.

[2014-03-05 09:43] prijupaul opened #5 "Doesnt support the latest versions of pdf"
When tried to save a pdf form which is created using pdf 1.5 and above, it results in save error.

[2014-03-24 15:56] Slowfoxtrot opened #6 "All form data repeating on all pages"
It seems that for the form I am testing all form data from each page is being rendered simultaneously on all pages.  Is this what happens with flattenedData?  Is there a way to address this?

[2014-04-09 09:55] Xacus opened #8 "Running on iPad"
I'm running your project on an iPad with iOS 7.1 and I can't save any of your pdf files. Everything works in the simulator.

I get the Object Stream error.

[2014-04-22 13:48] schoenling opened #9 "Set fonts"
Hi, is there a way to change the font (size etc.) within the single acroforms when setting the text programmatically? Thank you.

[2014-05-26 18:00] thomasSailing opened #11 "problem with the input in the textfield on a form"
Whenever I want to add characters to a textfield field with content
1. Select textfield with content
2. go to a position within the existing contents
3. input of a character or words from the clipboard
...until here it works...
4. cursor jumps to the end of the entire content
The problem:
put on the marked can always be entered only one character. then the cursor jumps immediately to the end home.

[2014-06-07 07:07] iphonic opened #12 "doesn't show annotations"
First of all great library. I am working on adding annotations on a PDF with forms.. I am adding annotation in a PDF, but when opened through ILPDFKit they doesn't show up, but actually they are there..

Is there anything that you can help me ?

Check the sample PDF I have added an annotation here https://db.tt/6sqgvrul

[2014-06-21 10:09] iphonic opened #14 "Filled values doesn't show on Adobe Reader"
Values filled by the library does show in the app, but it doesn't show up in Adobe Reader, they only appear only when you focus on the field. Any idea?

Do we need something extra while saving the filled values ?

Please help.

Thanks.

[2014-10-05 11:15] jbrx107 opened #16 "Adobe Acrobat cannot read many of the files created"
After filling in some forms, I see this error in Adobe Acrobat when opening the PDF files:

"There was an error opening this document.  The root object is missing or invalid."

Here is a link to a PDF form from around the Internet that do not work with ILPDFKit that show the above error:

http://www.stuart-design.co.uk/docs/Sample%20Fillable%20PDF%20Form.pdf

Here is another form that after I save

[2014-10-16 14:32] karero opened #17 "iOS 8 - app crashes"
Unfortunately app crashes with iOS8.

[2014-10-16 14:33] karero opened #18 "Support for Checkboxes"
It would be wonderful to be able to set checkboxes.

[2014-10-18 01:36] Biclops opened #19 "Installation problems with cocoapods"
Pod spec

    source 'https://github.com/CocoaPods/Specs.git'
    platform :ios, '7.0'
    xcodeproj 'Test.xcodeproj'
    pod 'ILPDFKit', '0.0.6'

If you open up the ILPDFKit folder while it's installing, you'll see the code downloading as it should but at the last phase it'll delete all the source files.

I have no idea why it'd do that.

Here's the terminal printout
dtmac:trunk dt$ pod install -

[2014-10-21 11:33] pprieur79 opened #20 "Rendering of Form Fields are off on Multiple Pages"
Not sure if this library is still being developed/supported but I just noticed that when you render a PDF form with text boxes on multiple pages the boxes seems to be offset.  For example on the first page everything is 100% perfect.  However the second page the boxes are all slightly offset, third page even more so, etc.  My guess is that the way it calculates the y margin might be a bit off as y

[2014-11-13 16:02] magmatic opened #21 "Saving partially flattened data"
I would like to save the PDF document in such a way that the form elements are flattened, but interactive URLs remain clickable. Can you give any info as to how to modify `flattenedData:` method to achieve that? I looked over the class reference and can't seem to see anything that relates to clickable links.

[2015-01-28 23:53] flooie commented on #20
me as well

[2015-04-19 22:41] derekblair commented on #20
Yes this is known issue. The solution I am moving toward is to render the PDF using a Quartz based view instead of UIWebView. This will allow for more precise control and accuracy of margins.

[2015-04-19 22:53] derekblair commented on #19
Fixed

[2015-04-19 22:53] #19 closed

[2015-04-19 22:54] #1 closed

[2015-04-19 22:54] #3 closed

[2015-04-19 22:54] #4 closed

[2015-04-19 22:54] #6 closed

[2015-04-19 22:56] #9 closed

[2015-04-19 22:56] #8 closed

[2015-04-19 22:57] #11 closed

[2015-04-19 22:57] #12 closed

[2015-04-19 22:57] #14 closed

[2015-04-19 22:58] derekblair commented on #16
I will add this shortly. In general, only 1.3 and before is supported for saving.

[2015-04-19 22:58] #16 closed

[2015-04-19 22:58] #17 closed

[2015-04-19 22:59] #18 closed

[2015-04-19 22:59] #20 closed

[2015-04-19 23:00] derekblair commented on #21
This unfortunately hard to do but is part of of the things I am working on. Keep your eyes open for future releases.

[2015-04-19 23:00] #21 closed

[2015-04-19 23:01] #5 closed

[2015-04-26 12:45] MacKentoch opened #23 "Unable to manual import in a swift project"
# Really nice work : thanks!

But I can't import it manually in my project (mainly swift but may not be related).
- I added `ILPDFKit folder` to my project (mainly swift project)
- I already use `ARC`
- I linked
  - `UIKit`
  - `QuartzCore`
  - `CoreGraphic` (seen it in project template)

I compare the template project and mine and don't see what is wrong.
The only difference is
- my project mainl

[2015-06-04 19:25] MacKentoch commented on #23
It is a shame such a nice lib, I can't import in my swift project.

If anyone had some suggestion I would greatly appreciate.

[2015-09-05 20:12] tempire opened #24 "Crash on rotation"
I've added a PDFViewController to a child container view:

[code]

And on rotation in ios8, a crash with no debug information occurs.

It seems to happen on `_pdfView = nil` in PDFViewController.m.

[2015-09-15 04:41] all-iver opened #25 "Zooming causes text fields to truncate"
If I enter text like "1234.56" into a small text field so that the text fills up all of the available space, for the most part the size of the text auto-shrinks to fill the available space.  However, that functionality breaks when I zoom in and out - at some zoom levels the font size is too large and the field value is truncated to something like "123...".  At other zoom levels the text is not tru

[2015-09-25 23:06] shieer opened #26 "Save over the original editable pdf?"
As the topic, is that possible to save some inputs to editable pdf?

[2015-09-30 06:35] zummenix commented on #23
Hi @MacKentoch
Did you add bridging header file to your swift project?

[2015-09-30 07:21] zummenix opened #27 "Consider using `ILPDF` prefix for classes instead of `PDF`"

[2015-09-30 07:27] zummenix opened #28 "Import UIKit and CoreGraphics header files"
When I dropped `ILPDFKit` folder in a swift project I was't able to build it. Turns out I need to import UIKit and CoreGraphics for some classes in `ILPDFKit`.
I can prepare PR if you need that.

[2015-11-05 15:51] Vortec4800 commented on #20
I was able to partially fix this in the latest version on Cocoapods. It will probably still fall apart on very long documents, but if you only have a few pages the results are reasonably good.

It seems that the page margin is a little higher on pages 2 and on than it is on the first page. This means if you line up the Y margin on the first page, each page thereafter will be incorrect. I was able

[2015-12-04 02:56] Alkandros commented on #19
why this error happens?

[2016-01-14 00:23] RyanKim01 opened #29 "Date select field is considered as PDFTextField"
I have date select field in my PDF and ILPDFKit considers that field as PDFFormType.Text.
When I'm setting value "01/11/16" to the field in PDF, ILPDFKit converts the value and prints it out as
"2016-01-11 01:13:36 +0000". Is there a way to just input "01/11/16" instead of "2016-01-11 01:13:36 +0000" ?

[2016-01-26 10:30] lubbo opened #30 "Some Forms are not placed to the proper page"
I've experienced that with some PDF (created with Acrobat 9 PDF version 1.3) some forms are all placed in the first page instead of the correct page.

Investigating the PDF structure, I've noticed that in some Form Widgets the reference to the Parent object is not present.
Besides the Form Widget is referenced from the Page Annots: Catalogue -> Pages -> Annots

[2016-02-24 15:26] Twelve57 opened #33 "Image/Signature"
How to manage Image or Signature ?
Currently we can update TextField and Checkboxes, but what about updating a placeholder for image or signature ?

[2016-03-30 20:30] mikerz commented on #33
Did you find a way to do this?

[2016-03-31 06:19] Twelve57 commented on #33
The only solution I've found is to create again the pdf,
with CGPDFDocumentCreateWithUrl.

And then, at the correct page, draw my picture/signature at the correct position,
with picture.drawInRect(CGRectMake(x, y, width, height))

[2016-04-21 14:35] jaouahbi commented on #33
You can render the image in the frame of item but you must modify the library.
static void renderPageWithImageInfo(NSUInteger page, CGContextRef ctx,CGPDFDocumentRef doc,PDFFormContainer *forms, NSArray * imageInfo)
{
    CGRect mediaRect = CGPDFPageGetBoxRect(CGPDFDocumentGetPage(doc,page), kCGPDFMediaBox);
    CGRect cropRect = CGPDFPageGetBoxRect(CGPDFDocumentGetPage(doc,page), kCGPDFCropBox);

[2016-04-21 14:36] jaouahbi commented on #33
You can render the image in the frame of item but you must modify the library.
[code]

[2016-04-21 14:38] jaouahbi opened #36 "How update a checkbox (PDFFormTypeButton)???"
assuming form is a PDFFormTypeButton
on =  [_pdfDocument.forms setValue:@"1" forFormWithName:form.name];??
off =  [_pdfDocument.forms setValue:@"0" forFormWithName:form.name];??
seems do not work

[2016-04-21 14:39] Twelve57 commented on #33
How do you retrieve the correct position of the signature in the PDF ?

[2016-04-21 14:42] Twelve57 commented on #36
Try "Yes" and "No" instead of "1" and "0"

[2016-04-21 14:51] jaouahbi commented on #33
Use a frame of the a hidden textbox.

[2016-04-21 14:53] jaouahbi commented on #36
No work :( very thanx

[2016-04-21 14:55] Twelve57 commented on #33
It's a profesional protected PDF with multiple signature fields, I cannot modify it.

[2016-04-21 14:58] jaouahbi commented on #33
do not work?
NSArray * signatures = [_pdfDocument.forms  formsWithType:PDFFormTypeSignature];
CGRect frame = [signatures firstObject].frame

[2016-04-21 15:00] Twelve57 commented on #33
Nope :/ it's not working.
But I've found another solution to make it work, don't worry.

Thanks for your time and your answers ;)

[2016-04-21 15:00] jaouahbi commented on #33
do not allow Adobe Acrobat X modify the document?

[2016-04-21 15:00] Twelve57 commented on #33
The client doesn't allow me to modify it. Bank Business ;)

[2016-04-21 15:04] jaouahbi commented on #33
ok :) sorry. Mi solution its dirty but in my case solved my problems.
We are using a https://tenonedesign.com/t1autograph.php for sign the document, then we are copy the image generated from t1autograph UIView and is draw in a frame of a hidden  textfield in the pdf
Sorry for my english ;)

[2016-04-21 15:43] jaouahbi commented on #36
Works :), thank you!

[2016-05-04 07:21] SaurabhPrajapati commented on #30
It's great.. Thanks @lubbo.

[2016-05-05 13:44] Lancewise opened #37 "Check Boxes..."
Was wondering how would one program in a check for a checkbox?
I have tried:

    [_pdfViewController.document.forms setValue:@"Yes" forFormWithName:@"Married"];
    [_pdfViewController.document.forms setValue:@"YES" forFormWithName:@"Married"];
    [_pdfViewController.document.forms setValue:@"1" forFormWithName:@"Married"];
    [_pdfViewController.document.forms setValue:@"Y" forFormWithName:@"M

[2016-05-11 14:41] jaouahbi commented on #37
Open the .pdf in Adobe Acrobat. Tools->Edit and then select the checkbox, go to the page Options and set you "true" value in the Export Value. For example YES, Yes ... etc

[2016-05-20 12:36] lordgreg commented on #29
This is the exact same issue we're having. Can the somehow be fixed?

[2016-06-17 13:48] sonimeister commented on #33
Hi

what is MSImageInfo in your code

[2016-06-20 09:10] jaouahbi commented on #33
[code]

[2016-06-20 11:18] sonimeister commented on #33
Thanks @jaouahbi 👍

[2016-08-15 14:04] stevestencil opened #38 "Multi-Page PDF crashes when scrolling"
I have a multi-page PDF that loads the first page however as soon as I scroll up to the second page it crashes the app and logs "Collection <__NSArrayM: 0x16084c530> was mutated while being enumerated."

[2016-08-24 01:49] calvinlau717 opened #39 "Change Form Text Field Font Size"
I have a form in my project, and this form has some textfield. I modify the textfield using follow code and this works:

document.forms.setValue( "Name", forFormWithName: "LabourName")

However, i want to change the font size of the text field in the form , named "LabourName". I have tried to change the font size of the form to 16 in the PDF, but when i set the text field in the form using above c

[2016-08-24 12:56] paresh-navadiya commented on #26
@shieer Would you were able to do it

[2016-08-26 08:18] yasirmturk opened #40 "Form widget view Not working with autolayout and size classes"

[2016-10-17 15:09] giacDaddy opened #42 "What program did you use to create PDF form?"
I used adobe acrobat pro to create a new form to test out in the example program and only the radio buttons are coming up as fillable. I'm wondering if you did anything special to make ALL the fields show up so that I can fill them in on a custom form. Thanks!

[2016-11-01 10:01] yasirmturk commented on #26
very much needed... or otherwise need a method to pass form xml to PDF Doc so that it populates all the values before rendering

[2016-12-01 08:19] SaurabhPrajapati commented on #38
any update on this? i m facing same issue on ipad , and its occur only when i input any text in textfield and than try to scroll PDF.

[2016-12-01 14:25] stevestencil commented on #38
Luckily the client that I was building for was able to use only single page PDFs. I was unable to figure this out

[2016-12-02 05:08] SaurabhPrajapati commented on #38
really lucky , as my client is used pdf of almost around 40 to 50 pages. let me know if you found any thing that can help. this issue is only for some pdf , as most of the PDF are working fine.

[2016-12-05 10:10] SaurabhPrajapati commented on #38
I am getting this crash only while adding subview's(aka forms) more than 126!

[2016-12-14 07:15] SaurabhPrajapati commented on #38
Using WKWebview instead of UIWebView Solved my problem!

[2016-12-18 04:19] miwand opened #43 "Sample project crashes"
Using the project on iOS 10.2 makes the project crash -
Getting a lot of these errors:
invalid AES padding.
invalid AES block size.

Finally get this
2016-12-17 23:17:03.155 ILPDFKitExample[60071:559333] -[__NSDictionaryM addObject:]: unrecognized selector sent to instance 0x608000640720
2016-12-17 23:17:03.164 ILPDFKitExample[60071:559333] *** Terminating app due to uncaught exception 'NSInvalidA

[2016-12-18 06:03] miwand commented on #43
Narrowed down the problem to - Line 171 on ILPDFContainer.m
 [arr addObject:final];

[2016-12-19 14:02] StefanoBiasu commented on #43
Seems that radio button form object doesn't have name.

In the Form init

`- (instancetype)initWithFieldDictionary:(ILPDFDictionary *)leaf page:(ILPDFPage *)pg parent:(ILPDFFormContainer *)p`

at line 76

[code]
the method invokation

`[leaf parentValuesForKey:@"T"] `

returns empty array because of nil parent
and then its name is @""

Also other fields have nil parent and then the ILPDFFormContai

[2016-12-19 17:02] StefanoBiasu commented on #43
It's possible that the issue is related with PDF encryption.
PDF given in project sample has a 128-bit AES encryption. For each form field found in PDF, console prints out at least once the following message:

Radio buttons are the first occurence of crash, but there could be other cases of crash after radio buttons.

Tried to feed sample project with:
- PDF not encrypted but with radio buttons
-

[2016-12-21 10:23] SaurabhPrajapati opened #44 "Fast Scrolling PDF - will showing forms on different page than original"
while checking ILPDFKit framework/library with **WKWebView instead of UIWebView** will showing some textfields on diffrent page then expected page while fast scrolling through PDF.

[2017-01-09 11:59] SaurabhPrajapati commented on #44
Set pagingEnable of Scrollview solve my Problem

[2017-01-10 22:42] chucktee opened #45 "Closing app with an open ILPDFViewController displays blank PDF on re-entry."
If you are viewing a PDF, close the app with the Home button, then re-open the app- the PDF will change to a split half-black half-white screen.

It appears the app reopen flow calls into ILPDFViewController
calls
- (void)viewWillTransitionToSize
which calls
[self loadPDFView];
which creates a new _pdfView = [[ILPDFView alloc] initWithDocument:_document];
then adds it to the view with-
[self.view

[2017-01-17 13:22] sumitmukhija opened #46 "Adding ILPDFkit gives linker error"
Adding ILPDFKit with pods give me

ld: warning: directory not found for option '-F/Users/Summit/Documents/ios/crm/ParseLibraryV1.9.1'
duplicate symbol _checkKeys in:
    /Users/Summit/Library/Developer/Xcode/DerivedData/crm-gcuupqssjsfapsfcnxxkuzzgwwfr/Build/Intermediates/crm.build/Debug-iphonesimulator/crm.build/Objects-normal/i386/PDFDictionary.o
    /Users/Summit/Library/Developer/Xcode/Derived

[2017-01-17 13:38] #46 closed

[2017-01-19 23:36] #45 closed

[2017-01-19 23:37] derekblair commented on #45
fixed in aee473280c0b72f8542eee9d1b70815438ef9113

[2017-01-19 23:41] derekblair commented on #43
Resolved in 6115182fc406dba8e7811413d02c84fcae463850 . The invalid invalid AES block size warnings seem to be new issues introduced in 10.2 relating to Core Graphics PDF calls using in the project.

[2017-01-19 23:41] #43 closed

[2017-01-20 00:41] derekblair commented on #29
Should be resolved now.

[2017-01-20 00:41] #29 closed

[2017-01-20 00:41] #24 closed

[2017-01-20 00:42] #27 closed

[2017-01-23 08:28] hllGitHub commented on #26
Is there any progress on this? @paresh-navadiya @yasirmturk

[2017-01-26 09:01] lubbo commented on #26
Saving inputs means be able to save a PDF with AcroForms.
CoreGraphics desn't support AcroForms writing so a proper low level PDF writing functionality is needed.
It may be very difficult to implement on top of CoreGraphics ...

[2017-02-01 06:55] Ran09 commented on #8
Hi,
I am using your framework, after saving data pdf interactive features lost completely. Please let me is it possible to save pdf with its interactive features by ILODFKit framework?

[2017-02-07 06:44] SaurabhPrajapati opened #47 "Internal navigation is not Working Properly"
Hi ,
**I have found below issue in latest updated ILPDFKit**

While jump to page 10 from page 1 , interactive Elements are not showing.
Ex. while navigating to 10th page it shows the elements of 5th page.

Navigating single page works fine.

[2017-02-07 11:34] SaurabhPrajapati commented on #47
changing below line solved my problem

[_pdfPages setObject:sv forKey:@([_pageYValues indexOfObject:@(yVal)]+1)];

to

int page = (int)(sv.frame.origin.y/sv.frame.size.height) + 1;

            [_pdfPages setObject:sv forKey:@(page)];

This is because if i am redirected to 10th page but still my array of _pdfPages contains only 4 objects , so indexOfObject:sv return 5 instead of 10.Please update t

[2017-02-13 12:49] sumitmukhija opened #48 "Issue with Parse server"
I have been trying to upload a form that I edited with ILPDF on the Parse server but all it uploads is a blank one paged pdf.

[2017-03-02 06:07] MauriceHmb opened #49 "Black bars appear with 1.1.3"
I found a new issue using 1.1.3, the latest update. The Viewer has black bars at the left and right border. I also tried another pdf file, but stil the same. See the screenshots below:

Version 1.1.1
![bildschirmfoto 2017-03-01 um 22 14 00](https://cloud.githubusercontent.com/assets/23486283/23495013/a1145696-ff16-11e6-867b-ce63e814542f.jpg)

Version 1.1.3
![bildschirmfoto 2017-03-01 um 22 12 39](

[2017-03-08 15:13] yasirmturk commented on #26
how these guys are handling it?
http://www.pdftron.com/pdfnet/downloads.html
https://pspdfkit.com/

[2017-03-09 19:10] lubbo commented on #26
They use a proprietary PDF writer

[2017-03-19 20:51] back-40 commented on #26
I'm about 3 days into the iOS/AcroForm/Edit/SaveBackAsAcroForm attempt. :) ILPDFKit is great if client is cool with flat PDF, but unfortunately mine isn't. What direction did you guys go?

[2017-03-20 13:33] yasirmturk opened #50 "Forms not showing for "Some kind of editable PDF"s"
I have here some special kind of editable PDF which is editable in Preview app and other desktop apps (also on windows) but shown as read-only through this library.. can u suggest whats the issue?
<img width="833" alt="itext_pdf__1_page_" src="https://cloud.githubusercontent.com/assets/306691/24101753/48b61cda-0d9b-11e7-85fd-ee051cb18c61.png">
[itext.pdf](https://github.com/derekblair/ILPDFKit/fil

[2017-03-20 13:34] yasirmturk commented on #50
No form is shown in the app
![simulator screen shot 20-mar-2017 6 28 11 pm](https://cloud.githubusercontent.com/assets/306691/24101895/cfa45298-0d9b-11e7-9bcd-2d61265a818a.png)

[2017-03-20 13:39] yasirmturk commented on #26
same situation here... @back-40
this app https://itunes.apple.com/us/app/mupdf/id482941798?mt=8&ign-mpt=uo%3D4 does it perfectly and they claim to be open source.. but their forms are not overlay

[2017-03-20 13:44] back-40 commented on #26
@yasirmturk Thanks I'll take a look at it. Have you used it before?

[2017-03-20 14:20] yasirmturk commented on #26
nops i m still trying to use @ILPDFKit

[2017-03-20 20:31] back-40 commented on #26
Still digging on this. Does ILPDFKit have the ability to create a PDF with AcroForms?

[2017-03-21 07:25] yasirmturk commented on #26
no

[2017-03-22 00:03] madslinden opened #51 "I get a crash in simulator when trying the example's "Save Static PDF""
am I the only one ?

[2017-03-22 10:38] Barnalite opened #52 "App crash because createWidgetAnnotationViewForPageView returns nil"
Hi,

If the form has the ILPDFAnnotationFlagHidden, ILPDFAnnotationFlagInvisible o ILPDFAnnotationFlagNoView, createWidgetAnnotationViewForPageView returns nil. Later, the method updateWidgetAnnotationViews tries to add this nil view and add it to an array. The app crashes. Found using a pdf with those flags.

Thanks

Guillem

[2017-03-22 10:59] derekblair commented on #51
fixed in https://github.com/derekblair/ILPDFKit/releases/tag/1.1.5

[2017-03-22 10:59] #51 closed

[2017-03-22 11:03] derekblair commented on #50
thanks @yasirmturk I will investigate and fix this asap.

[2017-03-22 11:06] derekblair commented on #44
Should be resolved in 1.1.3 and after.

[2017-03-22 11:06] #44 closed

[2017-03-22 11:24] derekblair commented on #52
fixed in 1.1.6

[2017-03-22 11:24] #52 closed

[2017-03-22 11:24] derekblair commented on #49
fixed in 1.1.6

[2017-03-22 11:24] #49 closed

[2017-03-22 11:25] derekblair commented on #47
Thanks fixed in 1.1.6

[2017-03-22 11:25] #47 closed

[2017-03-22 14:45] yasirmturk commented on #50
much appreciated

[2017-03-31 05:57] MauriceHmb commented on #49
Black bars now changed to white bars! The bars are still there

[2017-04-07 04:05] kevin228228 opened #53 "Font size for the text field in saved static PDF"
I'm evaluating ILPDFKit with its sample app. I added a form which contains text fields with two different font sizes: 34 for the "label_title" field, while 16 for the others.

However, after filling out the form with the following code, and save it as static PDF, the resulting font sizes look different from the original ones.

Is there any way to make it follows the original font sizes? Alternativ

[2017-04-07 13:44] derekblair commented on #53
Investigating, thanks.

[2017-04-13 21:18] steipete commented on #26
Careful: muPDF is open source but AGPL - you can't use that in the App Store and it's also viral. It's has commercial licensing options.

At https://pspdfkit.com (our commercial PDF SDK) we've spent a few years with around 15 people to get forms working, including a lot of edge cases, drawing appearance streams, nested fields and of course also JavaScript validations and all related event logic. I

[2017-04-14 11:46] yasirmturk commented on #26
we don't need it for the app store.. thanks for the info

[2017-04-14 13:45] back-40 commented on #26
I ended up writing my own parser from scratch and then recreating the PDF with the form values put in. I maintained the acroforms so it is still editable via PDF viewers. Not an easy job, but I've done similar in the past. A few years back I wrote software that made extremely large PDFs with vector objects and serialized text for digital printing press systems.

[2017-04-14 22:22] derekblair commented on #50
It appears @yasirmturk that the file in question is lacking AcroForms, but instead has simple line annotations.

[2017-04-14 22:23] #50 closed

[2017-04-14 22:23] #38 closed

[2017-04-14 22:24] #23 closed

[2017-04-17 09:24] yasirmturk commented on #26
great.. can did u made it available?

[2017-04-17 12:52] derekblair commented on #49
@MauriceHmb Please see `[ILPDFViewController applyConstraintsToPDFView] ` to readjust the constraints to meet your needs.

[2017-04-18 01:33] back-40 commented on #26
Sorry, but I've too many hours in it make it free.

[2017-06-13 15:21] shnabz opened #56 "Sequence Protocol"
Hi, when trying to iterate through the form container I get:
`Type 'ILPDFFormContainer?' does not conform to protocol 'Sequence'`
Any thoughts?

[2017-06-18 22:48] AndreaCogliati opened #57 "Can't read text in parsed PDFs (weird encoding)"
I'm using ILPDFKit to extract some text from some PDF files generated by another iOS app. Now I'm having some issues with the encoding of the text in certain files. I convert the `Contents` stream of an ILPDFPage into a string, then look for BT / ET pairs to extract the text.

For instance, one file contains the following text stream:

`BT 0.03260000 Tc 7 0 0 7 0 0 Tm /Tc1 1 Tf [ (Las) 4 (t Name)

[2017-06-30 00:16] krispyk84 opened #58 "All form fields are on the first page"
Hi,

When I put in a multi page form with fields set in Adobe Acrobat DC, all the fields are on page 1 of 5 and there are no fields on pages 2-5. Any idea why this happens and how I can fix it?

[2017-07-12 10:58] SaurabhPrajapati commented on #26
I suggest to save values in dictionary with key as formName and populate the PDF back after loading it.

like , I have PDF with TextField , its formName is "firstName" , then i enter some Text in it say "Saurabh" and while click on save button , i get the value from pdf , which i stored in dictionary! Now while loading same form again i will iterate through dictionary keys to get all saved values.

[2017-07-14 06:25] mob-rockstar opened #59 "Can't add ILPDFKit to custom view"
Dear
I am trying to display the PDF to custom view using ILPDFKit , not full screen view controller.
Let me know how can I use the ILPDFKit to display the PDF into custom view

[2017-07-18 00:06] fboemeke commented on #56
Any idea? I have the same problem!

[2017-07-18 16:39] shnabz commented on #56
I have ended up opening my pdf in Adobe Acrobat and making a note of all the form fields ID, I then use these strings to refer to the form fields which works fine.

[2017-07-18 16:57] fboemeke commented on #56
Thanks @shnabz! I've used the same solution although I'm looking for a dynamic solution.

[2017-07-18 17:25] codicil commented on #28
zummenix ,

Hi,

 I need your help, I am a student and learning iOS, I am working on a study project, where user input will be transformed to PDF form, than save/print

I have developed the user input view, installed ILPDFKit thinking about I can programmatically send input to PDF form field (say one of the PDF form field name is first_name, I should be able to populate first name in that field en

[2017-07-18 17:31] codicil commented on #36
jaouahbi ,

 I need your help, I am a student and learning iOS, I am working on a study project, where user input will be transformed to PDF form, than save/print

I have developed the user input view, installed ILPDFKit thinking about I can programmatically send input to PDF form field (say one of the PDF form field name is first_name, I should be able to populate first name in that field entered

[2017-07-18 18:02] codicil commented on #56
shnabz ,

 I need your help, I am a student and learning iOS, I am working on a study project, where user input will be transformed to PDF form, than save/print

I installed ILPDFKit through pod to my XCode project, I am using swift, when I am trying
when I am using

let document = ILPDFDocument(resource:"myPDF")

Swift is giving me error that ILPDFDocument is not defined, is there some kit I need

[2017-07-18 20:58] shnabz commented on #56
Ahmed,

You need to `import ILPDFKit` at the top, outside of your UIViewController class, under `import UIKit` is fine. Should you need any advice you can email me at shnabz@hotmail.com

[2017-07-18 21:24] shnabz commented on #56
@fboemeke I've sussed it! Add this extension to your .swift file.
[code]

You can then do:
[code]

[2017-07-19 03:53] zummenix commented on #28
Hi @codicil, I'm not sure I can help much with your particular problem. In any case you can ping me in skype and we can discuss.

[2017-07-19 11:06] fboemeke commented on #56
@shnabz Thank you!

[2017-07-19 16:55] codicil commented on #28
sure what is your Skype ID

[2017-07-19 16:57] codicil commented on #28
mine is shabbier_vancouver

[2017-07-19 16:58] codicil commented on #28
@zummenix what is your Skype id, mine is shabbier_vancouver

[2017-07-20 16:47] codicil opened #60 "how to save the flatPDF within app"
Can you educate me on how to save the flatPDF file within iOS app. My objective is to save the faltPDF file within app so that user can send this file via e-mail or airprint from the app.

Any help or guidance would really be appreciated

Regards,

[2017-07-20 18:05] codicil commented on #59
@mob-rockstar did you find the answer to your question? can you share if yes

[2017-07-20 18:13] codicil commented on #39
@calvinlau717 did you find answer to your question, would you like to share

[2017-07-20 19:17] codicil commented on #37
document.forms.setValue("Yes", forFormWithName: "CB1")

Note: CB1 is checkbox in my pdffile
as @jaouahbi said you need to open pdf in acrobat and check checkbox properties under option tab for export value mine is "Yes" and it works

One question thout
@Lancewise, where did you put these command in the viewcontroller

in my case I am working in swift and I had to put in the app delegate which I do

[2017-07-20 22:01] codicil commented on #23
@zummenix how to use bridging header file for this pod, I know how to add objective C header file in swift project but what line to put in the bridging header file

e.g. # import ??

also how to use ARC, as I am just started learning iOS my question may be of very basic kind please excuse me for that

[2017-07-21 04:02] zummenix commented on #23
@codicil, if in your pod the line `use_frameworks!` exist, I believe you don't need to add anything in your bridging header, just `import ILPDFKit` in your swift files.

You don't need to worry about ARC at this stage.

[2017-07-21 04:02] zummenix commented on #28
@codicil, I wasn't able to find you. Mine is zummenix

[2017-07-21 04:29] calvinlau717 commented on #39
@codicil I can't find the answer either.

[2017-07-21 08:57] SaurabhPrajapati commented on #60
I think you can use "savedStaticPDFData" method of ILPDFDocument. this will return you Data object. the you can write this data to file with .pdf extension. I haven't tried it but hope this can help you!

[2017-07-21 09:04] SaurabhPrajapati commented on #59
I have tried It with success! you can add ILPDFViewController's view as subView. and is working fine.For example ,

[code]

[2017-07-21 09:11] mob-rockstar commented on #59
Thanks for your reply.
I want to ask you one more thing.
Can I use the server url as a filePath of PDF ?

This library can only load pdf  from local?
I will wait your reply.
Regards

[2017-07-21 09:37] SaurabhPrajapati commented on #59
first you can download the file from URL , so you get NSData object , then you can use "initWithData" method of ILPDFDocument

[2017-07-21 09:39] mob-rockstar commented on #59
I have to display the PDF from server url, not local.
If you have any solutions, let me know

[2017-07-21 17:54] codicil commented on #28
@zummenix This is strange I could not find you on my skype on ihphone, but did find you on desktop skype sent you the invite

[2017-07-21 18:21] codicil commented on #60
@SaurabhPrajapati is there anyway we can chat, a skype ID or contact number mine is shabbir_vancouver

[2017-07-22 16:48] codicil commented on #5
@prijupaul can you teach me the process of saving the static PDF, and where to put this code

[2017-07-22 22:58] derekblair commented on #39
See `[ILPDFForm associatedWidget]` then on the resulting `ILPDFFormTextField` access the `UITextField` via  `textFieldOrTextView`. From there, you can customize it was you wish.

[2017-07-22 22:59] #39 closed

[2017-07-26 09:11] SaurabhPrajapati commented on #1
Still the textfields on lower side of Page are hide behind the keyboard  in small Example

[2017-08-04 12:39] ComputopDeveloper opened #61 "Crash while opening a PDF with Forms"
For the most cases I'm able to open PDF with forms, but for a special file the app is crashing because of

If find out that the ILPDFFormContainer is the reason for that. Especially in the populateNameTreeNode: method you expect a NSMutableDictionary, but in my case here it is an array:

[code]

My bad solution was it to check for the class, and in case that it is not a dictionary I don't populate

[2017-08-18 08:12] jojonarte opened #62 "Font sizes are bigger than the font size it was created"
Font sizes on savedpdf would render the fontsizes to a bigger size than it normally was set.

The scenario in this screenshot below is that we created a pdf then added forms using Adobe acrobat, the problem relies now on filling the form fields the output results in larger font than what was set in the PDF.

![font_sizes](https://user-images.githubusercontent.com/11880365/29447554-0001ec48-8425-11

[2017-09-21 12:23] #36 closed

[2017-09-25 12:05] SebastianKumor opened #63 "NNo visible @interface for 'ILPDFView' declares the selector 'pinToSuperview:guide:"
Getting this error in my project when trying to build last verion, any idea how to fix it ?

[2017-10-19 04:12] nuwanchamara opened #64 "Is this available for android ?"
I need a library like this for android . Is this also available for android?

[2017-11-20 10:22] derekblair commented on #64
Not currently.

[2017-11-20 10:22] #64 closed

[2017-12-13 06:32] MeetaB opened #65 "Signature Support"
Hi,
The code works well for pdf form filling.. Great Job..
When are you planning to add signature support ? Then it would make the pdf form filling complete.

[2017-12-28 09:31] GhadaFullStack opened #66 "Arithmetic calculation feature"
Hello,

I'm using this library and it is working great with filling forms.
In my PDFs there are some auto calculated fields and I tried to have a start point from your code to add this feature but I couldn't.
So I wanted to ask if there is something I can start with to support this feature.

Thank you so much for this great work

[2018-02-05 11:09] gotheme commented on #64
can you please suggest me if other library exist

[2018-04-24 12:53] AhmedShammala commented on #58
@krispyk84  thanks u for speed respond , did u use any other good alternative  ?

[2018-04-25 03:46] krispyk84 commented on #58
No, I needed it for a prototype app and the feature wasn’t critical so I gave up on it.

[2018-07-10 07:10] PeerMdThabib commented on #63
Even I am getting the same issue as @SebastianKumor mentioned above is there a way to fix it?

[2018-08-06 11:16] StefanoBiasu opened #67 "WKPDFView on iOS12"
Trying PDF renderization on ios12 beta versions, it seems that no form is editable.
Root cause is that "**WKPDFView**" class, retrieved from webview.scrollview subviews, is no more a container of UIView, each one contaning a PDF page.
Instead, **WKPDFView** is a UIView sized as the content of a single PDF page that wraps and hides all the page renderization of the PDF.

How/when is it going to fe

[2018-08-29 03:12] maneshlad commented on #67
I'm also facing issues rendering acroforms forms in iOS 12 beta.  Any suggestion on which classes would cause the form rendering to fail.  Thanks

[2018-08-30 13:07] derekblair commented on #67
Will fix, thanks

[2018-09-20 12:47] vassily-fr commented on #67
Hello,

Any news on this ?
@StefanoBiasu did you found a solution, seems you 've gone pretty far to find the root cause !

[2018-09-20 13:37] StefanoBiasu commented on #67
Unfortunately there is no easy workaround. Since there are no more pages splitting, the entire annotation overlapping has to be re-engineered

[2018-09-21 07:10] hamdibouasker commented on #67
Hello,
@derekblair any news ?
Thanks

[2018-10-23 20:17] yarodevuci commented on #67
omg... Why Apple makes things so complicated for devs always...

[2018-10-30 07:42] dennygajera commented on #67
Hi, I am facing issue with iOS 12.0.1.
Not able to edit in PDF file.
How can I fix it?

Thanks.

[2018-10-30 07:44] ApexaChovatiya92 opened #68 "PDF is not editable in iOS12"

[2018-10-30 07:51] #68 closed

[2018-10-30 07:55] ApexaChovatiya92 commented on #67
Hi, I am facing issue while showing editable PDF in iOS 12
I am not able to edit that.
I am waiting for updated version of this library.

Thanks.

[2018-10-30 09:16] StefanoBiasu commented on #67
I'm working on a solution, 'though it will take some time..

[2018-10-30 11:12] ApexaChovatiya92 commented on #67
Thank you @StefanoBiasu.
Can you tell me exactly how much time it will take?
So that we can wait accordingly

[2018-11-13 05:14] KetulThakor commented on #67
Can we us **PDFView** instead of **WKWebView** for fix this issue in iOS12.

[2018-11-27 13:02] KetulThakor commented on #67
Any updates about this issue? @derekblair , @StefanoBiasu.

[2018-12-26 08:00] redisky opened #69 "How to set text color or use default form color?"
By default, all text becomes black, but the original document is black and blue.

[2019-01-05 21:41] digitalfractal commented on #69
Hi @redisky , i have a problem where i need to implement AcroJS for text fields in this SDK, will you be interested in working on a project like this? sorry didnt know where else to contact you.

[2019-01-05 21:44] digitalfractal opened #70 "AcroJS and calculated fields"
Hello All,

has anyone implemented AcroJS calculation for fields?

this is code that can be added as a formula to make calculations such as

var s1 = +getField("spent1").value;
var s2 = +getField("sched1").value;
var d1 = +getField("datec1").value;
if(d1 == 0 && s1 == 0) event.value = "";
else {
if(d1 == 0 && s1 != 0) event.value = "In Progress";
if(d1 != 0 && s1 == s2) event.value = "On Schedule"

[2019-01-13 20:49] eutampieri opened #71 "Cross-platform support"
How much work would it needed to make this library work on macOS and Linux too? It would be perfect for server side swift too!

[2019-01-15 22:46] digitalfractal commented on #70
@StefanoBiasu, would you know if AcroJS can be implemented with this PDF library?

[2019-02-03 14:47] dennygajera commented on #67
Hello guys, Please visit this post for the solution to edit pdf in iOS 12.

http://anysolutions.in/index.php/2019/02/03/pdf-file-view-and-edit-in-ios-12/

[2019-02-03 15:04] dennygajera commented on #67
Hello guys, Please visit the below mentioned link for edit pdf in iOS12.

http://anysolutions.in/pdf-file-view-and-edit-in-ios-12/

[2019-06-13 01:37] ggnSwaitch commented on #67
Hi, we can use the Apple's PDFView to render the pdf and then after completing the form, we can again convert that pdf to ILPDFKit document by initialising the ilpdfDocument with data using "pdfView.document.dataRepresentation]"  (to use all the other features of ILPDFKit such as extracting form values).

[2019-09-19 05:20] anurajl opened #72 "ITMS-90809: UIWebView API is deprecated"
Apple will stop accepting submissions of apps that use UIWebView APIs.
See https://developer.apple.com/documentation/uikit/uiwebview for more information.

ILPDKit is also using UIWebView

[2019-09-24 07:27] anurajl commented on #72
I was using the lower version of the library, UIWebview was changed to WKWebview in the version 1.1.4.

Sorry that I couldn't pick this. I had checked the release notes but was not updated.
I'm closing this ticket and once again sorry for opening this issue.

[2019-09-24 07:27] #72 closed

[2019-09-24 10:20] anurajl opened #73 "'ILPDFKit/ILPDFKit-Swift.h' file not found"
Updated ILPDFKit to version 1.1.7 and getting the error ---> **_'ILPDFKit/ILPDFKit-Swift.h' file not found_**

Any idea how to solve this error?

[2019-12-03 20:12] perlmunger opened #74 "Abandon Ware?"
I downloaded the iOS 10.3 simulator and form field editing still works there, but iOS 12 and 13 (Haven't tried 11 yet) you can't edit any longer. Anyhow, just posting this here so that others aren't wondering if it should be working in iOS 13+. It doesn't currently. Thanks.

[2020-03-23 04:50] ntfchris opened #75 "PDF not editable?"
I downloaded the demo app but cannot find the way to make the PDF editable, it is still read only.
Anybody can help?

[2020-07-09 13:29] mohdsalmanve commented on #33
@jaouahbi how you are getting the `(CGContextRef ctx)` because it I am doing it background pasting an image to a location, `static void renderPageWithImageInfo(NSUInteger page, CGContextRef ctx,CGPDFDocumentRef doc,PDFFormContainer *forms, NSArray * imageInfo)`

[2020-07-28 16:51] Ibrahimarain commented on #75
Same happening to me. :(

[2020-08-26 18:59] psirigiano opened #76 "UIWebView has been replaced a while ago with WKWebView"
ITMS-90809: Deprecated API Usage – Apple will stop accepting submissions of apps that use UIWebView APIs. See here, for more information.

[2020-08-26 19:33] #76 closed

[2020-08-26 19:36] psirigiano commented on #74
Any update?

[2020-08-26 19:57] psirigiano commented on #75
Any solutions for this?

[2020-09-22 14:42] psirigiano commented on #67
Did anyone figure out a solution on how to edit?

[2020-09-23 05:49] tranthequang commented on #67
I must mixing both PDFKit of Apple and WKPDFView to resolve that issue.

[2020-10-06 20:33] psirigiano commented on #75
Does anyone have an example on how to fix this?  I see some mentions of a solution but any example on how to do this?

"Hi, we can use the Apple's PDFView to render the pdf and then after completing the form, we can again convert that pdf to ILPDFKit document by initialising the ilpdfDocument with data using "pdfView.document.dataRepresentation]" (to use all the other features of ILPDFKit such as

[2020-10-06 20:34] psirigiano commented on #67
@tranthequang Do you have any basic example on how this is done?

[2020-11-25 02:25] derekblair commented on #75
resolved in 2.0.0

[2020-11-25 02:25] #75 closed

[2020-11-25 02:25] derekblair commented on #74
Fixed in 2.0.0

[2020-11-25 02:25] #74 closed

[2021-05-25 21:15] SmartASCII opened #77 "Zooming no longer functioning?"
It looks like somewhere along the way, zooming on documents stopped working?

I partially fixed this in `ILPDFView` by:

- Assigning a `maximumZoomScale` to the `UIScrollView` in `didMoveToWindow`
- Defining `viewForZoomingInScrollView` to return `_pdfDocumentView`

This almost works (albeit laggy), but `updateWithZoom` seems to not be correctly calculating the X-axis for the annotations on the do

[2021-10-21 06:10] PretttyC commented on #77
I have the same problem, have you solved it yet？

[2022-02-25 06:50] ghost opened #79 "Check PDF Content Size and show alert Swift"
Is there any way to find the current pdf content size.

For example:-

When user open the pdf file and fill some information in the pdf and click on submit button. Then how to check pdf content size means the content fill fully or not. If user not fully added the details, pending some TextFiled in the pdf, then we need to show alert "Please fill all the information."

I have checked your code and

[2022-03-07 11:37] m-junaid-butt opened #80 "Pdf not editable after saving."
Hi
I am working on pdf editing.
After filling and save the pdf on the directory location when I open again for editing, It not allows for editing.
Kindly Can you tell me about this?

[2022-10-20 16:10] saormart commented on #77
Have anyone fixed this? Thanks!

[2022-10-21 17:14] saormart commented on #77
It seems that the function "scrollViewDidZoom" located in the file "ILPDFView.m" is not get called.
I was able to fix it by implementing the following code on the same file "ILPDFView.m":

It fixed the zoom issue, but still messing up with the textfields...
Any better idea?